{
  "name": "Monthly climatology of daily exposure - Global Horizontal Exposure",
  "layers": "mean_exposure",
  "url": "http://neii.bom.gov.au/services/solarclim/wms/data/monClim_gloHorExp1Day.nc",
  "type": "wms",
  "featureInfoTemplate" : {
    "template": "{{#value}}{{value}} MJ/m<span style='vertical-align: super; font-size: smaller;'>2</span>{{/value}}",
    "name": "{{#value}}{{value}} MJ/m2{{/value}}"
  },
  <%- include ../../common/home_camera_rectangle %>,
  <%- include ../../common/standard_properties %>
},
{
  "name": "Monthly climatology of daily exposure - Direct Normal Exposure",
  "layers": "mean_exposure",
  "url": "http://neii.bom.gov.au/services/solarclim/wms/data/monClim_dirNorExp1Day.nc",
  "type": "wms",
    "featureInfoTemplate" : {
    "template": "{{#value}}{{value}} MJ/m<span style='vertical-align: super; font-size: smaller;'>2</span>{{/value}}",
    "name": "{{#value}}{{value}} MJ/m2{{/value}}"
  },
  <%- include ../../common/home_camera_rectangle %>,
  <%- include ../../common/standard_properties %>
},
{
  "name": "Annual climatology of daily exposure - Global Horizontal Exposure",
  "layers": "mean_exposure",
  "url": "http://neii.bom.gov.au/services/solarclim/wms/data/annClim_gloHorExp1Day.nc",
  "type": "wms",
  "featureInfoTemplate" : {
    "template": "{{#value}}{{value}} MJ/m<span style='vertical-align: super; font-size: smaller;'>2</span>{{/value}}",
    "name": "{{#value}}{{value}} MJ/m2{{/value}}"
  },
  <%- include ../../common/home_camera_rectangle %>,
  <%- include ../../common/standard_properties %>
},
{
  "name": "Annual climatology of daily exposure - Direct Normal Exposure",
  "layers": "mean_exposure",
  "url": "http://neii.bom.gov.au/services/solarclim/wms/data/annClim_dirNorExp1Day.nc",
  "type": "wms",
  "featureInfoTemplate" : {
    "template": "{{#value}}{{value}} MJ/m<span style='vertical-align: super; font-size: smaller;'>2</span>{{/value}}",
    "name": "{{#value}}{{value}} MJ/m2{{/value}}"
  },
  <%- include ../../common/home_camera_rectangle %>,
  <%- include ../../common/standard_properties %>
}
